.bg-danger {
  background-color: #F72210 !important;
} 

body {
  background-color: #F4F5F6;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  font-size: 18px;
}


nav {
  font-size: 19px;
}

.form-control {
  font-size: 19px;
}

.container-xl {
  max-width: 1310px;
}

.navbar-container-mini {
  height: 50px;
}

.logo-small {
  width: 140px;
  height: 30px;
  object-fit: cover;
}

.logo-big {
  width: 396px;
  height: 60px;
  object-fit: cover;
}

.date {
  font-size: 16px;
}

.weather {
  font-size: 15px;
}

.weather  img {
  width: 5px;
  height: 5px;
}

.fa-bars {
  font-size: 24px;
  opacity: 0.6;
}

.nav-container-large {
  height: 95px;
}

.form-control {
  max-width: 75px;
}

.magnifier {
  height: 20px;
}

.red-hover:hover {
  color: red !important;
}